body {
    background-color: greenyellow;

    #root{
        flex: 1;
        align-content: 'center';
        flex-direction: 'row';
        color: navy;
        font-size: 30px;
    }

    h2 {
        color: pink;
    }
}